@import "colors.css";


* {
    font-family: "AtkynsonMono NFP";
    font-size: 16px;
    font-weight: 600;
    background-image: none;
    transition: 0.2s;
}

window {
    background-color: @background; /* Transparent @base */
}

button {
    color: @on_primary_container;
    background-color: @primary_container;
    outline-style: none;
    border: 2px solid @on_primary_container;
    border-radius: 8px; /* Matching your Waybar */
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus, button:active, button:hover {
    background-color: @tertiary_container;
    color: @on_tertiary_container;
    border: 2px solid @on_tertiary_container; /* Matching your active workspace color */
}

