@import "colors.css";

* {
    min-height: 0;
    min-width: 0;
    font-family: "AtkynsonMono NFP";
    font-size: 15px;
    font-weight: 600;
}


/* This rule targets every module you defined in your config */
#custom-power, 
#clock, 
#mpris, 
#power-profiles-daemon, 
#workspaces,
#custom-notification, 
#tray, 
#cpu, 
#memory, 
#network, 
#bluetooth, 
#pulseaudio, 
#battery {
    background-color: @background;
    color: @on_background;
    border-radius: 8px;
    padding: 0 12px;
    margin: 4px 4px;
    transition: all 0.3s ease;
}


/* --- Global Bar Styling --- */
window#waybar {
    background-color: transparent;
}



/* --- Left Modules --- */
#custom-power {

    color: @primary;
}

#clock {
    color: @primary;
}

#mpris {
    color: @green;
}
#mpris.paused {
    color: @red;
}

/* --- Center Modules --- */
#power-profiles-daemon {
    transition: all 0s ease;
    font-family: "AtkynsonMono NFM";
    font-size: 24px;
}
#power-profiles-daemon.performance {
    color: @red
}
#power-profiles-daemon.balanced {
    color: @blue
}
#power-profiles-daemon.power-saver {
    color: @green
}



#workspaces {
    font-family: "AtkynsonMono NFM";
    padding-left: 0;
    padding-right: 0;
}


#workspaces button {
    transition: all 0.1s ease;
    border-radius: 8px;
    color: @primary;
}


#workspaces button:hover {
    background: @surface_container;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    background-color: @primary;
    color: @on_primary;
}
#workspaces button.active:hover {
    background: @primary;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.urgent {
    color: @tertiary;
   animation: blink 1s linear infinite;
   animation-fill-mode: both;
}

#custom-notification {
}

/* --- Right Modules --- */
#tray {
}

#cpu, #memory {
    color: @magenta;
}


#network, #bluetooth {
    color: @yellow
}


#pulseaudio {
    color: @yellow
}
#pulseaudio.muted {
    color: @red;
}

#battery {
    transition: all 0.1s ease;
    color: @green
}

#battery.warning {
    color: @orange;
}

#battery.critical {
    color: @red;
   animation: blink 1.5s linear infinite;
   animation-fill-mode: both;
}

#battery.charging, #battery.charged {
    color: @green;
}

/* --- Optional: Common logic (e.g., adding margins between modules) --- */
.modules-left > widget,
.modules-center > widget,
.modules-right > widget {
}

@keyframes blink {
    0% { color: @background }
    50% {color: @red}
   100% { color: @background }
   }
