@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;

@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;

@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;




* {
    min-height: 0;
    min-width: 0;
    font-family: "AtkynsonMono NFP";
    font-size: 15px;
    font-weight: 600;
}


/* This rule targets every module you defined in your config */
#custom-power, 
#clock, 
#mpris, 
#power-profiles-daemon, 
#workspaces,
#custom-notification, 
#tray, 
#cpu, 
#memory, 
#network, 
#bluetooth, 
#pulseaudio, 
#battery {
    background-color: @base;
    color: @text;
    border-radius: 8px;
    padding: 0 12px;
    margin: 4px 4px;
    transition: all 0.3s ease;
}


/* --- Global Bar Styling --- */
window#waybar {
    background-color: transparent;
}



/* --- Left Modules --- */
#custom-power {

    color: @red;
}

#clock {
    color: @pink;
}

#mpris {
    color: @green;
}
#mpris.paused {
    color: @subtext0;
}

/* --- Center Modules --- */
#power-profiles-daemon {
    transition: all 0s ease;
    font-family: "AtkynsonMono NFM";
    font-size: 24px;
}
#power-profiles-daemon.performance {
    color: @peach
}
#power-profiles-daemon.balanced {
    color: @blue
}
#power-profiles-daemon.power-saver {
    color: @green
}



#workspaces {
    font-family: "AtkynsonMono NFM";
    padding-left: 0;
    padding-right: 0;
}


#workspaces button {
    transition: all 0.1s ease;
    color: @lavender;
}


#workspaces button:hover {
    background: @surface0;
    border: 1px solid @surface0;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    background-color: @lavender;
    color: @crust;
}
#workspaces button.active:hover {
    background: @lavender;
    border: 1px solid @lavender;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.urgent {
    color: @peach;
   animation: blink 1s linear infinite;
   animation-fill-mode: both;
}

#custom-notification {
}

/* --- Right Modules --- */
#tray {
}

#cpu, #memory {
    color: @mauve;
}


#network, #bluetooth {
    color: @blue
}


#pulseaudio {
    color: @yellow
}
#pulseaudio.muted {
    color: @subtext0;
}

#battery {
    transition: all 0.1s ease;
    color: @text
}

#battery.warning {
    color: @peach;
}

#battery.critical {
    color: @red;
   animation: blink 1.5s linear infinite;
   animation-fill-mode: both;
}

#battery.charging, #battery.charged {
    color: @green;
}

/* --- Optional: Common logic (e.g., adding margins between modules) --- */
.modules-left > widget,
.modules-center > widget,
.modules-right > widget {
}

@keyframes blink {
    0% { color: @base }
    50% {color: @red}
   100% { color: @base }
   }